* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Chiều cao của toàn bộ viewport */
}

.header {
  display: flex;
  align-items: center; /* Canh giữa theo chiều dọc */
  height: 10%; /* 10% chiều cao nửa trên */
  background-color: black;
}

.activity-title {
  flex: 0 0 15%; /* Chiếm 15% diện tích bên trái */
  display: flex;
  align-items: center; /* Canh giữa theo chiều dọc */
  justify-content: center; /* Canh giữa theo chiều ngang */
  color: #ffffff;
}

.page-title {
  flex: 1; /* Chiếm phần còn lại ở giữa */
  display: flex;
  align-items: center; /* Canh giữa theo chiều dọc */
  justify-content: center; /* Canh giữa theo chiều ngang */
  color: #ffffff;
}

.home-h2{
  color: #ffffff;
}

.other-title {
  flex: 0 0 15%; /* Chiếm 15% diện tích bên phải */
  display: flex;
  justify-content: flex-end; /*hai nút liền nhau*/
  color: #ffffff;
  background-color: black;
  margin: 3px;
  margin-left: 2px;
}

.other-title-button{
  margin-left: 4px;
}

